# OpenAI
OPENAI_API_KEY=YOUR_OPENAI_API_KEY

# AWS
AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_KEY
AWS_REGION=ap-south-1

# Vector Database (used in later lessons)
PINECONE_API_KEY=YOUR_PINECONE_API_KEY

# PostgreSQL (used in RAG lessons)
DATABASE_URL=postgresql://username:password@localhost:5432/genai_db